@import url(./reset.css);
@import url(./variables.css);
@import url(./fonts.css);
@import url(./cube.css);

body {
  background: #000;
  color: #fff;
}

header {
  padding: 16px;
}

label {
  user-select: none;
}

.filters {
  max-width: 360px;
  padding: 16px;
}

.filters form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
