.cube {
  height: 10rem;
  position: fixed;
  right: 1.2rem;
  top: 1.6rem;
  width: 10rem;
}

.cube label {
  bottom: 0;
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.cube input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0.1rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.1rem;
}

.cube svg {
  height: 100%;
  pointer-events: none;
  width: 100%;
}

.cube path {
  fill: var(--neutral-100);
  fill-opacity: 0.666;
  pointer-events: all;
  stroke: var(--neutral-900);
  stroke-linejoin: round;
  stroke-width: 2;
}

.cube .cube-shadow {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  translate: 0 0.6rem;
  display: none;
}

.cube .cube-shadow path {
  fill: var(--neutral-900);
  fill-opacity: 1;
  pointer-events: none;
  stroke: var(--neutral-900);
}

@media (hover: hover) {
  .cube path:hover {
    cursor: pointer;
    fill: var(--neutral-300);
    fill-opacity: 1;
  }
}

.cube input:checked + svg path {
  fill: var(--neutral-600);
  fill-opacity: 1;
}
