.filters {
  max-width: 360px;
  padding: 16px;
}

form {
  /* border-bottom: 2px solid black; */
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  cursor: pointer;
  user-select: none;
}

select {
  all: unset;
  background: white;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M9.70711 14.7071C9.07714 14.0771 9.52331 13 10.4142 13H21.5858C22.4767 13 22.9229 14.0771 22.2929 14.7071L16.7071 20.2929C16.3166 20.6834 15.6834 20.6834 15.2929 20.2929L9.70711 14.7071Z" fill="black"/></svg>');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 32px;
  border-radius: 16px;
  box-shadow: 0 0 0 2px black, 0 3px 0 2px black;
  cursor: pointer;
  margin-inline-start: 4px;
  padding: 4px 32px 4px 12px;
}

label:has(select) {
  width: fit-content;
}

select:focus-visible {
  outline: 2px solid var(--accent);
  outline-offset: -2px;
}

fieldset {
  align-items: start;
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

fieldset legend {
  all: unset;
}

input[type="checkbox"],
input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

label:has(input[type="checkbox"]:focus-visible),
label:has(input[type="radio"]:focus-visible) {
  outline: 2px solid white;
  outline-offset: -3px;
  position: relative;
  z-index: 1;
}

label:has(input[type="checkbox"]) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 0 1px black, inset 0 0 0 1px black, 0 3px 0 1px black;
  padding: 4px 12px;
}

label:has(input[type="checkbox"]:checked) {
  background-color: var(--accent);
}

label:has(input[type="checkbox"]):first-of-type {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}

label:has(input[type="checkbox"]):last-of-type {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

label:has(input[type="checkbox"]):active {
  box-shadow: 0 0 0 1px black, inset 0 0 0 1px black, 0 1px 0 1px black;
  translate: 0 2px;
}

label:has(input[type="radio"]) {
  align-items: center;
  border-radius: 16px;
  display: flex;
  margin-inline-end: 4px;
  padding: 4px 8px 4px 8px;
}

label:has(input[type="radio"])::before {
  background: transparent;
  border: 2px solid black;
  border-radius: 16px;
  box-shadow: 0 0.5px 0 0 black, 0 1px 0 0 black, 0 1.5px 0 0 black, 0 2px 0 0 black;
  content: "";
  display: inline-block;
  height: 1em;
  margin-inline-end: 4px;
  width: 1em;
}

label:has(input[type="radio"]):active::before {
  box-shadow: none;
  translate: 0 2px;
}

.cube label:has(input[type="radio"]) {
  margin: 0 !important;
  padding: 0 !important;
}

.cube label:has(input[type="radio"])::before {
  display: none;
}

label:has(input[type="radio"]:checked)::before {
  background: var(--accent);
  background: radial-gradient(black 0% 33.33%, var(--accent) 33.333% 100%);
}
