.filters {
  max-width: 360px;
  padding: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  cursor: pointer;
  user-select: none;
}

select {
  cursor: pointer;
}

fieldset {
  all: unset;
  display: flex;
  flex-direction: row;
}

fieldset legend {
  all: unset;
}

input[type="checkbox"],
input[type="radio"] {
  /* display: none; */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

label:has(input[type="checkbox"]:focus-visible),
label:has(input[type="radio"]:focus-visible) {
  outline: 2px solid white;
  outline-offset: -3px;
  position: relative;
  z-index: 1;
}

label:has(input[type="checkbox"]) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 0 1px black, inset 0 0 0 1px black, 0 4px 0 0 black;
  padding: 4px 12px;
}

label:has(input[type="checkbox"]:checked) {
  background-color: var(--accent);
}

label:has(input[type="checkbox"]):first-of-type {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}

label:has(input[type="checkbox"]):last-of-type {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

label:has(input[type="checkbox"]):active {
  box-shadow: 0 0 0 1px black, inset 0 0 0 1px black, 0 2px 0 0 black;
  translate: 0 2px;
}

label:has(input[type="radio"]) {
  align-items: center;
  border-radius: 16px;
  display: flex;
  margin-inline-end: 4px;
  padding: 4px 8px 4px 8px;
}

label:has(input[type="radio"])::before {
  background: transparent;
  border: 2px solid black;
  border-radius: 16px;
  content: "";
  display: inline-block;
  height: 1em;
  margin-inline-end: 4px;
  width: 1em;
}

.cube label:has(input[type="radio"])::before {
  display: none;
}

label:has(input[type="radio"]:checked)::before {
  background: var(--accent);
  background: radial-gradient(black 0% 50%, var(--accent) 50% 100%);
}
