footer {
  bottom: 0;
  right: 2.4rem;
  max-width: 100%;
  padding: 0.8rem 0.2em 0.8rem 0;
  pointer-events: none;
  position: fixed;
  width: fit-content;
}

footer p {
  pointer-events: all;
}

@media (max-width: 480px) {
  footer {
    right: initial;
    left: 2.4rem;
  }
}
