html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  /* background: rgb(192, 192, 192); */
  color: #000;
  font-size: 1.6rem;
  overflow: hidden;
}

a {
  color: inherit;
}

header {
  max-width: 36rem;
  padding: 1.6rem;
  pointer-events: none;
  position: relative;
  width: 100%;
}

h1 {
  line-height: 1.5;
  pointer-events: all;
  width: fit-content;
}

h2 {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
  pointer-events: all;
  text-transform: uppercase;
  width: fit-content;
}

p {
  pointer-events: all;
}

header .heading {
  align-items: start;
  border-bottom: 0.2rem solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 10rem;
}

main {
  pointer-events: none;
  position: relative;
}

main select,
main label {
  pointer-events: all;
}

@media (max-width: 640px) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }
}
