@import url(./reset.css);
@import url(./screen-reader.css);
@import url(./variables.css);
@import url(./general.css);
@import url(./fonts.css);
@import url(./legend.css);
@import url(./filters.css);
@import url(./cube.css);
@import url(./world.css);
@import url(./labels.css);
@import url(./tooltips.css);
@import url(./stories.css);
@import url(./stats.css);
@import url(./videos.css);
@import url(./footer.css);

body.minimal-ui {
  header, .stories, .filters, footer {
    opacity: 0;
  }

  .stats {
    bottom: initial;
    right: initial;
    top: 10.4rem;
    left: 50%;
    translate: -50% 0;
  }

  .ratio {
    position: fixed;
    top: 0;
    left: 0;
  }

}
