.legend {
  /* margin: 1em 0 0; */
}

.legend .leading::after,
.legend .trailing::after {
  content: "";
  display: inline-block;
  height: 0.666em;
  margin-inline-end: 0.25em;
  margin-inline-start: 0.25em;
  width: 0.666em;
}

.leading {
  color: var(--leading);
  font-weight: bold;
  white-space: nowrap;
}

.trailing {
  color: var(--trailing);
  font-weight: bold;
  white-space: nowrap;
}

.tied {
  color: var(--tied);
  font-weight: bold;
}

.legend .leading::after {
  background: var(--leading);
}

.legend .trailing::after {
  background: var(--trailing);
}

.marker {
  font-weight: bold;
  white-space: nowrap;
}

.legend .marker::after {
  content: "";
  display: inline-block;
  height: 0.2em;
  margin-inline-end: 0.25em;
  margin-inline-start: 0.25em;
  margin-block-end: 0.15em;
  width: 1em;
  background: var(--neutral-900);
}
