.legend {
  margin: 1em 0 0;
}

.leading::after,
.trailing::after {
  border-radius: 2px;
  content: "";
  display: inline-block;
  height: 0.5em;
  margin-inline-end: 0.25em;
  margin-inline-start: 0.25em;
  width: 1em;
}

.leading {
  color: var(--leading);
  font-weight: bold;
}

.trailing {
  color: var(--trailing);
  font-weight: bold;
}

.leading::after {
  background: var(--leading);
}

.trailing::after {
  background: var(--trailing);
}
