body:has(.filters.collapsed) .stats {
  bottom: 5.6rem;
}

.stats {
  bottom: 4rem;
  bottom: 15.2rem;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
  padding: 0.2rem;
  position: fixed;
  right: calc(2.4rem + 0.2rem);
  width: 15.6rem;
}

.stats .total {
  padding-block-end: 0.75em;
  text-align: center;
  width: 100%;
}

.stats .bar {
  --end: calc(var(--percentage) + 0.1rem);
  --percentage: 50%;
  --start: calc(var(--percentage) - 0.1rem);
  border-radius: 0.2rem;
  height: 0.4rem;
  margin-block-end: 0.25em;
  position: relative;
  width: 100%;

  background-image: linear-gradient(
    to right,
    var(--leading) var(--start),
    transparent var(--start),
    transparent var(--end),
    var(--trailing) var(--end)
  );
}

/* .stats .bar::after {
  background: var(--neutral-900);
  bottom: -0.2rem;
  content: "";
  left: 50%;
  margin-left: -0.1rem;
  position: absolute;
  top: -0.2rem;
  width: 0.2rem;
} */

.stats .lost {
  color: var(--trailing);
  font-weight: bold;
  padding-block-start: 0.4rem;
  text-align: end;
  width: 50%;
}

.stats .lost::after {
  color: var(--neutral-900);
  content: "lost";
  display: block;
  font-weight: 400;
}

.stats .won {
  color: var(--leading);
  font-weight: bold;
  padding-block-start: 0.4rem;
  text-align: start;
  width: 50%;
}

.stats .won::after {
  color: var(--neutral-900);
  content: "won";
  display: block;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .stats {
    bottom: 5.6rem;
  }
}
