body:has(.filters.collapsed) .stats {
  bottom: 5.6rem;
}

.stats {
  bottom: 4rem;
  bottom: 15.2rem;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
  padding: 0.2rem;
  pointer-events: all;
  position: fixed;
  right: calc(2.4rem + 0.2rem);
  width: 15.6rem;
}

.stats .total {
  padding-block-end: 0.75em;
  text-align: center;
  width: 100%;
}

.stats .bar {
  --percent-lost: 50%;
  --percent-won: 50%;
  border-radius: 0.2rem;
  display: flex;
  gap: 0;
  height: 0.4rem;
  justify-content: space-between;
  margin-block-end: 0.25em;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stats .bar::before {
  background: var(--leading);
  content: "";
  display: block;
  height: 100%;
  transition: width 0.4s ease-in-out;
  width: var(--percent-won);
}

.stats .bar::after {
  background: var(--trailing);
  content: "";
  display: block;
  height: 100%;
  transition: width 0.4s ease-in-out;
  width: var(--percent-lost);
}

/* .stats .bar::after {
  background: var(--neutral-900);
  bottom: -0.2rem;
  content: "";
  left: 50%;
  margin-left: -0.1rem;
  position: absolute;
  top: -0.2rem;
  width: 0.2rem;
} */

.stats .won {
  color: var(--leading);
  font-weight: bold;
  padding-block-start: 0.4rem;
  text-align: start;
  width: 50%;
}

.stats .won::after {
  color: var(--neutral-900);
  content: "won";
  display: block;
  font-weight: 400;
}

.stats .lost {
  color: var(--trailing);
  font-weight: bold;
  padding-block-start: 0.4rem;
  text-align: end;
  width: 50%;
}

.stats .lost::after {
  color: var(--neutral-900);
  content: "lost";
  display: block;
  font-weight: 400;
}

.stats .won:empty:before,
.stats .won:empty:after,
.stats .lost:empty::before,
.stats .lost:empty::after {
  content: "\00a0";
}

@media (max-width: 1024px) {
  .stats {
    bottom: 5.6rem;
  }
}

@media (max-width: 480px) {
  .stats {
    display: none;
  }
}
